<%- include("header") -%>

<h2>About Me</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, quam atque? Nesciunt quod accusamus maxime nemo nisi, quis dicta, numquam nostrum debitis ab expedita sit? Nemo aliquam obcaecati corporis deleniti?</p>


<%- include("footer") -%>